* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  #navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .fa-artstation {
    margin-right: 0.5rem; /*razmak izmedju ikone i naslova*/
    
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
  }
  
  .button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {

    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      margin-top: 5rem;
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 70vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  /* Prva sekcija/segment*/

  .main{
    background-color: #141414;
  }

  .main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 98vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }

  .main__content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff8844 0%, #ffb19f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .main__content h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff2121 0%, #fd7921 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 780;
    color: #fff;
  }

  .main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77052 0%, #ee0f0f 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }

  .main__btn a{
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: white;
  }

  .main__btn::after {
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
  }

  .main__btn:hover{
    color: white;
  }

  .main__btn:hover:after{
    width: 100%;
  }

  .main__img--container {
    text-align: center;
  }

  #main__img{
    height: 80%;
    width: 80%;
  }

  /*Responzivni dizajn za mobitel*/

  @media screen and (max-width: 768px){
    .main__container{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
    }

    .main__content{
      text-align: center;
      margin-bottom: 4rem;
    }

    .main__content h1{
      font-size: 2.5rem;
      margin-top: 2rem;
    }

    .main__content h2{
      font-size: 3rem;
    }

    .main__content p{
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 480px){

    .main__content h1{
      font-size: 2rem;
      margin-top: 3rem;
    }

    .main__content h2{
      font-size: 2rem;
    }

    .main__content p{
      margin-top: 2rem;
      font-size: 1.5rem;
    }

    .main__btn{
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
  }

  /* Sekcija ponude css */

  .ponuda{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .ponuda h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
    to right, 
    #ff8177 0%, 
    #ff867a 0%, 
    #ff8c7f 21%, 
    #f99185 52%, 
    #cf556c 78%, 
    #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .ponudaContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .ponudaCard{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient( to bottom,rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/images/ljeto2.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
  }

  .ponudaCard button a{
    text-decoration: none;
    color: #fff;
  }

  .ponudaCard:nth-child(2){
    background-image: linear-gradient( to bottom,rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/images/zima2.jpg');
  }

  .ponudaCard:nth-child(3){
    background-image: linear-gradient( to bottom,rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/images/ostala.jpg');
  }

  .ponuda h2{
    position: absolute;
    top: 350px;
    left: 38px;
  }

  .ponudaCard p{
    position: absolute;
    top: 400px;
    left: 38px;
  }

  .ponudaCard button{
    color: #fff;
    padding: 10px 20px;
    border:  none;
    outline: none;
    border-radius: 4px;
    background: #f77862;
    position: absolute;
    top: 448px;
    left: 38px;
    font-size: 1rem;
    cursor: pointer;
  }

  .ponudaCard:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }

  @media screen and (max-width: 960px){
    .ponuda{
      height: 2000px;
    }

    .ponuda h1{
      font-size: 2rem;
      margin-top: 12rem;
    }
  }

  @media screen and (max-width: 480px){
    .ponuda{
      height: 1400px;
    }

    .ponuda h1{
      font-size: 1.2rem;
    }

    .ponudaCard{
      width: 300px;
    }
  }

  /* Footer */

  .footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #footer__logo{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  .footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }

  .footer__link--wrapper{
    display: flex;
  }

  .footer__link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }

  .footer__link--items h2{
    margin-bottom: 16px;
  }

  .footer__link--items > h2{
    color: #fff;
  }

  .footer__link--items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }

  .footer__link--items a:hover{
    color: #e9e9e9;
    transition: 0.3s ease-out;
  }

  .footer__link--items p{
    color: #fff;
    margin-bottom: 0.5rem;
  }

  .website__rights{
    color: #fff;
  }

 .potpis a{
   color: #fff;
   text-decoration: none;
 }

 .potpis {
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    width: 130px;
    box-sizing: border-box;
 }

 .potpisBHWD{
  background-color: #141414;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

  /* social icons */

  .social__icon--link{
    color: #fff;
    font-size: 24px;
  }

  .social__media{
    max-width: 1000px;
    width: 100%;
  }

  .social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  .social__logo{
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  @media screen and (max-width: 820px){
    .footer__links{
      padding-top: 2rem;
    }

    #footer__logo{
      margin-bottom: 2rem;
    }

    .website__rights{
      margin-bottom: 2rem;
    }

    .footer__link--wrapper{
      flex-direction: column;
    }

    .social__media--wrap{
      flex-direction: column;
    }
  }

  @media screen and (max-width:480px) {
    .footer__link--items{
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }

  .koSmo{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .koSmo h1 {
    margin-top: 5rem;
    background-color: #ff8177;
    background-image: linear-gradient(
    to right, 
    #ff8177 0%, 
    #ff867a 0%, 
    #ff8c7f 21%, 
    #f99185 52%, 
    #cf556c 78%, 
    #b12a5b 100%
    );
    background-size: 100%;
   
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 98vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }

  .mainImg--container {
    text-align: center;
  }

  #mainImg{
    height: 80%;
    width: 80%;
  }

  .mainContent p{
    font-size: 2rem;
    font-weight: 780;
    color: #fff;
  }

  .mainBtn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77052 0%, #ee0f0f 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }

  .mainBtn a{
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: white;
  }

  .mainBtn::after {
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
  }

  .mainBtn:hover{
    color: white;
  }

  .mainBtn:hover:after{
    width: 100%;
  }

  @media screen and (max-width: 768px){
    .mainContainer{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
    }

    .mainContent{
      text-align: center;
      margin-bottom: 4rem;
    }

    .mainContent p{
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 480px){

    .mainContent p{
      margin-top: 2rem;
      font-size: 1.5rem;
    }

    .mainBtn{
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
  }

  .main_container_frame{
    background: #141414;
  }

  .frame{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 98vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }

.download{
  text-decoration: none;
  color: white;
}

.download a{
  color: #ff8177;
}

.download p{
  text-align: center;
}

.navbar1 {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container1 {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar__menu1 {
  display: flex;
  align-items: left;
  list-style: none;
  text-align: left;
}

.navbar__item1 {
  height: 80px;
}

.navbar__links1 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links1:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

.izaberi{
  background: #141414;
  color: #fff;
}

.izaberi p{
  text-align: right;
  margin-right: 20px;
  
}

.izaberi{
  display: none;
}

.fa-arrow-alt-circle-down{
  margin-left: 0.5rem;
}

@media screen and (max-width: 960px) {

  .izaberi{
    display: block;
  }

  .navbar__container1 {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu1 {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu1.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 70vh;
    font-size: 1.6rem;
  }

  .navbar__toggle1 .bar1 {
    width: 25px;
    height: 3px;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item1 {
    width: 100%;
  }

  .navbar__links1 {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu1 {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle1 .bar1 {
    display: block;
    cursor: pointer;
  }

  #mobile-menu1.is-active .bar1:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu1.is-active .bar1:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu1.is-active .bar1:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.ArticleContainer{
  width: 95%;
  overflow: hidden;
  background: #141414;
  margin: 20px auto;
  padding: 20px 0px; 
}

.ArticleContainer ul{
  padding: 0px;
  margin: 0px;
}

.ArticleContainer ul li{
  list-style: none;
  float: left;
  width: 20%;
  height: 300px;
  background: rgb(97, 82, 82);
  margin: 40px 0px 0px 50px;
  box-sizing: border-box;
  border: 2px solid white;
}

.ArticleContainer ul li:hover{
  opacity: 0.9;
}

.ArticleContainer ul li .naslov{
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: white;
  text-align: center;
}

.ArticleContainer ul li .naslov:hover{
  background: #f77052;
  color: #fff;
}

@media screen and (max-width:1250px){

.ArticleContainer ul li{
  width: 40%;
  margin-left: 40px;
}

}

@media screen and (max-width: 750px){
  .ArticleContainer{
    width: 100%;
    padding: 40px;
  }

  .ArticleContainer ul li{
    float: none;
    width: 90%;
    margin: 40px auto;
  }
}